experimentation/
dataset/
OpenSplat/
colmap/
libtorch/
opencv/

recent_splats/
__pycache__/
new_images/
good_splats/
*.bin
dataset1/
dataset2/
dataset_merged/
dataset_main/
dataset_staging/
initial_images/
expansion_images/
expansion_images_matched/
expansion_images_filtered/
initial_images_filtered/
expansion_images_removed_by_filtration/
initial_images_grouped/
GroundingDINO/
Groundingdino/
Hierarchical-Localization/
uploads/
*.pth
*.bin
*.json
*.pt
*.pkl
*.pth.tar
initial_images_filtered/
*.ply 

*.splat

.env
camera_images
initial_images_registered
initial_images_unregistered

initial_images_removed_by_filtration
hloc_output
camera images/
colmap_output/
input_images/
Hierarchical-Localization